# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages
* List commonly used libraries
* List data science tools
* Demonstrate arithmetic expressions
* Create a table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. BigDL
4. Pandas

| Data Science Tools |
|--------------------|
| kibana|
| Jupyter |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Nanda Chintalapati